= render 'layouts/nav'
.main
  .categoryTitle
    = @category.name 
    の商品コード一覧
  

  .pickup_list
    %label.pickup_label
      = link_to "/items/show", class:"pickup_link" do
        = image_tag "test_image/test_4.jpg" ,class:"pickup_imge" 
        .pickup_body
          %p.pickup_body__name たこ焼きぬいぐるみ
          .pickup_body__data
            %p.pickup_body__data__price 800円
            .pickup_body__data__like-box
              %i.fa.fa-star.pickup_body__data__like-box__icon
              %p.pickup_body__data__like-box__like
                0
          %p.pickup_body__tax (税込)
