.create-address
  .a-container.clearfix
    .a-single-middle
      .a-single-middle__top
        %p.Member-registration-completed 会員登録完了
      .a-single-middle__inner
        %p.orei
        
          ありがとうございます。

          %br
          
          会員登録が完了しました。

        .a-single-middle__inner__content
          = link_to "メルカリをはじめる", "/"