.default-container
  .i-container.clearfix
    .side_bar
      = render "layouts/side"

    .i-single-middle
      .i-single-inner
        .i-single-content
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu"
