.default-container
  .i-container.clearfix
    .side_bar
      = render "users/side"

    .i-single-middle
      .i-single-middle__inner
        .i-single-middle__content
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu"
