.wrapperb{
  padding-top: 100px;
  height: 100%;
  background-color: #f8f8f8;
  min-height: 90vh;
  .category-index{
    margin-top: 75px;
    &__name{
      h2{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin: 15px;
      }
      .new_items_search{
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #3CCACE;
      }
    }
    &__list{
      margin: 50px auto 30px;
      width: 70%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .category_btn{
      color: #333;
      width: calc(100% / 2 - 60px);
      font-size: 24px;
      border: 1px solid rgb(147, 147, 147);
      padding: 5px;
      margin: 10px 20px;
      border-radius: 5px;
      background-color: #fff;
      text-decoration: none;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}
