// --------------------------------- 商品名 ---------------------------------
.item-name{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;

      &__field{
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
        width: inherit;
      }
    }
  }
}
// --------------------------------- 商品名 〆 ---------------------------------
// --------------------------------- 商品の説明 ---------------------------------
.item-int{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 32px;
  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    width: 100%;
    height: 100%;
    font-size: 0px;
    &__area{
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 154px;
      min-height: 154px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      margin: 0;
      outline: none;
      padding: 13px 16px;
    }
    &__count{
      color: #888;
      font-size: 11px;
      margin-top: 16px;
      line-height: 16px;
      font-weight: 400;
      text-align: right;
    }
  }
}
// --------------------------------- 商品の説明 〆 ---------------------------------
// --------------------------------- カテゴリー ---------------------------------
.item-category{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
  &__top{
    display: flex;
    margin-top: 6px;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;
      cursor: pointer;

      &__label{
        display: inline-block;
        position: relative;
        width: inherit;

        &__select{
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          width: 100%;
          -webkit-appearance: none;
          padding-left: 16px;
          padding-right: 56px;
        }
        &__box{
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: space-around;

          &__icon{
            line-height: 24px;
            color: #8A8A8A;
          }
        }
      }
    }
  }
}
// --------------------------------- カテゴリー 〆 ---------------------------------
// --------------------------------- ブランド ---------------------------------
.item-brand{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 32px;
  flex-flow: column;
  justify-content: space-between;
  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;

      &__select{
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        height: 48px;
        line-height: 1;
        margin: 0;
        outline: none;
        width: 100%;
        -webkit-appearance: none;
        padding-left: 16px;
        padding-right: 56px;
      }
    }
  }
}
// --------------------------------- ブランド 〆 ---------------------------------
// --------------------------------- 商品の状態 ---------------------------------
.item-condition{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 32px;

  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;
      cursor: pointer;

      &__label{
        display: inline-block;
        position: relative;
        width: inherit;

        &__select{
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          width: 100%;
          -webkit-appearance: none;
          padding-left: 16px;
          padding-right: 56px;
        }
        &__box{
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: space-around;

          &__icon{
            line-height: 24px;
            color: #8A8A8A;
          }
        }
      }
    }
  }
}
// --------------------------------- 商品の状態 〆 ---------------------------------
// --------------------------------- 配送料の負担 ---------------------------------
.item-post{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 32px;
  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;
      cursor: pointer;

      &__label{
        display: inline-block;
        position: relative;
        width: inherit;

        &__select{
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          width: 100%;
          -webkit-appearance: none;
          padding-left: 16px;
          padding-right: 56px;
        }
        &__box{
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: space-around;

          &__icon{
            line-height: 24px;
            color: #8A8A8A;
          }
        }
      }
    }
  }
}
// --------------------------------- 配送料の負担 〆 ---------------------------------
// --------------------------------- 発送元の地域 ---------------------------------
.item-code{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 32px;
  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;
      cursor: pointer;

      &__label{
        display: inline-block;
        position: relative;
        width: inherit;

        &__select{
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          width: 100%;
          -webkit-appearance: none;
          padding-left: 16px;
          padding-right: 56px;
        }
        &__box{
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: space-around;

          &__icon{
            line-height: 24px;
            color: #8A8A8A;
          }
        }
      }
    }
  }
}
// --------------------------------- 発送元の地域 〆 ---------------------------------
// --------------------------------- 発送までの日数 ---------------------------------
.item-day{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 32px;
  
  &__top{
    display: flex;
    margin-bottom: 16px;

    &__title{
      color: #333;
      line-height: 19px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__form{
    height: 48px;
    width: 100%;

    &__body{
      width: 100%;
      cursor: pointer;

      &__label{
        display: inline-block;
        position: relative;
        width: inherit;

        &__select{
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          color: #222;
          font-size: 16px;
          height: 48px;
          line-height: 1;
          margin: 0;
          outline: none;
          width: 100%;
          -webkit-appearance: none;
          padding-left: 16px;
          padding-right: 56px;
        }
        &__box{
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: space-around;

          &__icon{
            line-height: 24px;
            color: #8A8A8A;
          }
        }
      }
    }
  }
}
// --------------------------------- 発送までの日数 〆 ---------------------------------
// --------------------------------- 販売価格 ---------------------------------
.item-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding-bottom: 12px;
  width: 100%;
  &__text{
    width: 50%;
    display: flex;
    justify-content: space-between;
    &__top{
      display: flex;
      &__title{
        color: #333;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  &__form{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    &__en{
      font-size: 14px;
      margin-right: 8px;
    }
    &__body{
      width: 100%;
      &__lavel{
        &__field{
          height: 48px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          margin: 0;
          outline: none;
          padding: 0 16px;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
.item-price-error{
  color: #ff0211;
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  text-align: right;
  font-weight: 400;
}
// --------------------------------- 販売価格 〆 ---------------------------------
// --------------------------------- 販売手数料 ---------------------------------
.item-charge{
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 12px 0;
  align-items: center;
  color: #515151;
  font-size: 14px;
}
// --------------------------------- 販売手数料 〆 ---------------------------------
// --------------------------------- 販売利益 ---------------------------------
.item-Sales{
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding-top: 12px;
  align-items: center;
  margin-bottom: 40px;
  color: #515151;
  font-size: 14px;
}
// --------------------------------- 販売利益 〆 ---------------------------------
// --------------------------------- 出品ボタン ---------------------------------
.submit-btn{
  width: 58%;
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  &__sale{
    border: 0;
    height: 48px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 24px;
    background-color: #3CCACE;
    &:hover{
      cursor: pointer;
    }
  }
  &__draft{
    color: #222;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 24px;
    background-color: #ccc;
    line-height: 48px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }
  &__return{
    line-height: 20px;
    color: #0095ee;
    font-size: 14px;
    text-decoration: none;
    margin: 0 auto 32px;
    &:hover{
      cursor: pointer;
    }
  }
}
// --------------------------------- 出品ボタン 〆 ---------------------------------
// --------------------------------- 注意書き ---------------------------------
.attention{
  line-height: 16px;
  &__text{
    font-size: 12px;
    &--color{
      color: #0095ee;
      text-decoration: none;
    }
  }
}
// --------------------------------- 注意書き 〆 ---------------------------------
