.search{
  text-align: center;
  background-color: #f8f8f8;
  
  .pickup_lists{
    margin: 26px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .pickup_list{
      background-color: #fff;
      margin: 9px;
      border: 1px solid #eee;
      .pickup_label{
        .pickup_label:hover{
          cursor: pointer;
        }
        .pickup_link{
          color: #515151;
          text-decoration: none;
          .pickup_imge{
            width: 220px;
            height: 150px;
            object-fit: cover;
          }
          .pickup_body{
            color: #333;
            font-size: 16px;
            padding: 16px;
          }
        }
      }
    }
  }
}
