.pickup_inside_search{
  padding-top: 100px;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: center;
  .pickup_lists_search{
    width: 80%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: flex-start;
    font-size: 0px;
    flex-wrap: wrap;
  }
}