.wrapper{
  padding-top: 100px;
}
.breadCrumbs{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  height: 55px;

    ul{
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
    
    li{
      padding: 0 10px 0 0;
      float: left;
    }
    a:hover {
      color :#3CCACE ;
    }
    a{
      text-decoration: none;
      color: #333;
    }
    li:last-child:after {
      content: ""; /* 最後のliの後ろには区切り文字を表示しない */
    }
    li:after {
      content: '\003e'; /* 「>」を要素間の区切り文字として表示 */
      margin-left: 10px; /* 区切り文字と要素の間隔を調整 */
      margin-right: 10px; /* 区切り文字と要素の間隔を調整 */
      color: #888888; /* 区切り文字の文字色 */
    }
    
    
  }
  

}
.main{
  background: #f8f8f8;
  &__snow{
    padding: 40px;
    margin: 0 auto;
    .contentLeftqq{
      display: block;
    }
    .contentRight{
      width: 700px;
      margin: 0 auto;
      .topContent{
        .itemBox{
          background-color: #fff;
          padding: 24px 40px 40px;
          h2{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin: 16px 0 0;
            ul{
              display: flex;
              position: relative;

              .image-main{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                .item-img{
                  height: 500px;
                  object-fit: cover;
                }
                .item-img-small{
                  height: 100px;
                  margin: 5px 5px 0;
                }
              }
            }
          }
        .itemBox__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          span{
            font-weight: bold;
            font-size: 46px;
            margin: 0 10px 0 0;
          }
          .itemBox__price-detail{
            font-size:16px;
            span{
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
        .itemDetail{
          font-size: 18px;
          margin-bottom: 30px;
        }
        .table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;

            tbody{
              tr{
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid;
                  font-size: 14px;
                  
                  a{
                    text-decoration: none;
                    color: #3CCACE;
                  }
                }
              }
            }

          }
        }
        .optionalArea{
          display: flex;
          justify-content: space-between;

          ul{
            margin: 10px 0 0;
            display: flex;
            li#likebtn.optionalBtn.likeBtn{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              border: 1px solid #ffb340;
              height: 30px;
              a{
                text-decoration: none;
                color: #3CCACE;
              }
            }
            li#likebtn.optional{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 30px;
              background-color: red;
              width: 250px;
              height: 80px;
              text-align: center;
              line-height: 80px;
              
              a{
                text-decoration: none;
                color: white;
                font-weight: bold;
              }
            }
          }
          ul.optional{
            margin: 10px 0 0;
            display: flex;
            li.optionalBtn{
              font-size: 14px;
              a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }
        }
       }
       .commentBox{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        ul{
          .search-form{
            .form-box{
              width: 100%;
              .hoge{
              width: 100%;
              min-height: 104px;
              max-width: 100%;
              }
            }
            p.noticeMsg{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .search-btn{
              font-size: 18px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
        }
       }
      }
      ul.links{
        a{
          text-decoration: none;
          color: #3CCACE;
        }
        li.left{
          float: left;
        }
        li.right{
          float: right;
        }
      }
      .relatedItems{
        
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          margin-top: 70px;
        
        }
      }
    }
  }
}
