.banner{
  background-image: url("material/pict/bg-appBanner-pict.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 40px;
  &__inside{
    color: #fff;
    text-align: center;
    &__text-top{
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      line-height: 33px;
    }
    &__text-bottom{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      line-height: 53px;
    }
    &__btns{
      display: flex;
      margin-top: 24px;
      width: 100%;
      justify-content: center;
      margin: 20px auto 0;
      &__btn{
        &__app_store{
          text-decoration: none;
          &--btn{
          width: 180px;
          padding-right: 10px;
          transition: 0.5s;
          }
          &--btn:hover{
            cursor: pointer;
            opacity: 0.5;
          }
        }
        &__google_play{
          text-decoration: none;
          &--btn{
            width: 180px;
            transition: 0.5s;
          }
          &--btn:hover{
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
