.navHeader{
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #eee;

  .navInner{
    height: 83px;
    padding-top: 15px;
    margin: 0 auto;
    max-width: 1040px;
    .mainHeader{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      &Icon{
        margin-right: 30px;
        &Logo{
          height: 40px;
          width: 140px;
        }
      }
      .searchBox{
        width: 100%;
        height: 36px;
        .search-form{
          width: 100%;
          display: flex;
          .search-input{
            width: 100%;
            padding: 0 0 0 5px;
          }
          .search-label{
            width: 36px;
            height: 36px;
            background-color: #3CCACE;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            .search-btn{
              display: none;
            }
            .search-icon{
              width: 60%;
            }
          }
        }
      }
    }
    .navNavi{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
      ul.listsLeft{
        display: flex;
        li.category{
          padding-right: 45px;
          cursor: pointer;
            .nav-category{
              text-decoration: none;
              color: #333333;
            }
        }
        li.brand{
          padding-right: 30px;
          cursor: pointer;
            .nav-brand{
              text-decoration: none;
              color: #333333;
            }
        }
      }
      ul.listsRight{
        display: flex;
        li.login{
          padding-right: 16px;
          cursor: pointer;
            .nav-login{
              text-decoration: none;
              color: #333333;
            }
        }
        li.sign_up{
          cursor: pointer;
          .nav-login{
            text-decoration: none;
            color: #333333;
          }
        }
      }
    }
  }
}