.default-container{
  padding-top: 98px;
  margin: auto;
  background-color: #f5f5f5;
}

.i-container.clearfix{
  display: flex;
  margin: 40px auto 0;
  padding-bottom: 40px;
  width: 1020px;
}

.i-single-middle{
  width: 700px;
  height: 600px;
  margin-left: 40px;
}

.i-single-inner{
  background-color: #ffffff;
  padding: 64px;
}

.i-single-content{
  cursor: pointer;
  width: 320px;
  background: #3ccace;
  color: #fff;
  margin: auto;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  a {
    display: block;
  }
  .menu{
    text-decoration: none ;
    color: #ffffff;
    width: 320px;
    background: #3ccace;
    color: #fff;
    margin: auto;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    text-align:center;
    
  }
}

