%label.sale-btn
  - if user_signed_in?
    = link_to new_item_path, data: {"turbolinks" => false}, class:"new-sale" do
      .sale-text 出品する
      = image_tag "material/icon/icon_camera.png"
  - else
    = link_to new_user_registration_path, data: {"turbolinks" => false}, class:"new-sale" do
      .sale-text 登録する
      = image_tag "material/icon/icon_camera.png"
